<div class="copyright">
  <% if (config.author){ %>
  &copy; 2013 -- <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.author %></a>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.title %></a>
  <% } %>
</div>
<div class="theme-copyright">
  Theme by <a href="https://github.com/orderedlist" target="_blank">orderedlist</a>
   |
  Redesign by <a href="http://heroicyang.com/" target="_blank">Heroic Yang</a> and <a href="http://liam0205.me/" target="_blank">Liam Huang</a>
</div>
<div class="contents-copyright">
  若无特殊说明，本站所有文章均为原创文章，并遵循 <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.zh_TW" target="_blank">CC BY-SA 3.0 协议</a>发布
</div>
<div class="clearfix"></div>
